@keyframes surgir_cima_baixo{
    from{
        transform: translateY(-50px);
    }

    to{
        transform: translateY(0px);
    }
}

@keyframes surgir_baixo_cima{
    from{
        transform: translateY(50px);
    }

    to{
        transform: translateY(0px);
    }
}

@keyframes surgir_esquerda_direita {
    from{
        transform: translateX(90px);
    }

    to{
        transform: translateX(0px);
    }
}