@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor_linhas: #dea526;
    --cor_texto: #ededed;
    /* --fonte_titulos: "Arimo", sans-serif; */
    --fonte_titulos: "Roboto Flex", sans-serif;
}

body{
    /* background: linear-gradient(135deg,
    #0d1218 0%,
    #0b1b2a 35%,
    #07131c 65%,
    #05090d 100%
    ); */
    background-image: url("../images/fundo.png");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat; 
    background-attachment: fixed;  
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}