@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --cor_linhas: #dea526;
    --cor_texto: #ededed;
    --fonte_titulos: "Arimo", sans-serif;
}

body{
    background: radial-gradient(circle,
    #101217 0%,
    #0c1825 25%,
    #0a131a 50%,
    #0a0b0d 75%,
    #0b0c0e 100%
    );
    margin: 0;
    padding: 0;
}