.container_formacao{
    width: 80%;
    height: 80vh;
}

.lista_cursos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_curso{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    justify-content: center;
}

.container_curso p{
    color: var(--cor_texto);
    font-family: var(--fonte_titulos);
    font-weight: 200;
    text-align: center;
}

.container_curso a{
    text-decoration: none;
    color: var(--cor_linhas);
    font-family: var(--fonte_titulos);
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 20%;
}

.botao_skip_esquerda, .botao_skip_2_esquerda{
    transform: rotate(223deg);
}

.botao_skip_esquerda{
    position: relative;
    border-top: 2px solid var(--cor_linhas);
    border-right: 2px solid var(--cor_linhas);
    width: 50%;
    height: 50%;
}

.botao_skip_2_esquerda{
    left: 40%;
    position: relative;
    border-top: 2px solid var(--cor_texto);
    border-right: 2px solid var(--cor_texto);
    width: 35%;
    height: 35%;
}

.botao_skip_direita{
    position: relative;
    border-top: 2px solid var(--cor_linhas);
    border-right: 2px solid var(--cor_linhas);
    width: 55%;
    height: 45%;
}

.botao_skip_2_direita{
    left: 50%;
    position: relative;
    border-top: 2px solid var(--cor_texto);
    border-right: 2px solid var(--cor_texto);
    width: 40%;
    height: 35%;
}

.botao_skip_direita, .botao_skip_2_direita{
    transform: rotate(45deg);
}




@media (max-width: 1920px) and (max-height: 1080px){
    .lista_cursos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 1%;
    }

    .container_curso{
        width: 27%;
        height: 40%;
    }

    .adorno_vertical{
        width: 1px;
        height: 50%;
        border: 1px solid var(--cor_linhas);
        color: var(--cor_linhas);
    }
}

@media (max-width: 1024px) and (max-height: 768px){

}