.container_formacao{
    width: 80%;
    height: 80vh;
}

.header_formacao p{
    font-weight: 200;
    font-family: var(--fonte_titulos);
}
.titulo_formacao{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
}

.detalhes_formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3vh;
}

.linhas_esqueda_formacao{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}

.linhas_direita_formacao{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.quadrado_formacao{
    width: 5%;
    height: 100%;
    border: 1px solid var(--cor_linhas);
}

.linha1_formacao{
    width: 30%;
    height: 1px;
    background-color: var(--cor_linhas);
}

.linha2_formacao{
    width: 70%;
    height: 1px;
    background-color: var(--cor_linhas);
}

.lista_cursos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_curso{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    justify-content: center;
}

.container_curso p{
    color: var(--cor_texto);
    font-family: var(--fonte_titulos);
    font-weight: 200;
    text-align: center;
}

.container_curso a{
    text-decoration: none;
    color: var(--cor_linhas);
    font-family: var(--fonte_titulos);
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 20%;
}

.botao_skip_esquerda, .botao_skip_2_esquerda{
    transform: rotate(223deg);
}

.botao_skip_esquerda{
    position: relative;
    border-top: 2px solid var(--cor_linhas);
    border-right: 2px solid var(--cor_linhas);
    /* border: 2px solid white; */
    width: 50%;
    height: 45%;
    left: 10%;
}

.botao_skip_direita{
    position: relative;
    border-top: 2px solid var(--cor_linhas);
    border-right: 2px solid var(--cor_linhas);
    /* border: 2px solid white; */
    width: 50%;
    height: 45%;
    right: 10%;
}
.botao_skip_direita{
    transform: rotate(45deg);
}




@media (max-width: 1920px) and (max-height: 1080px){
    .lista_cursos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        gap: 1%;
    }

    .container_curso{
        width: 27%;
        height: 60%;
    }

    .header_formacao p{
        font-size: 2.3em;
    }

    .quadrado_formacao{
        width: 5%;
        height: 70%;
    }
}

@media (max-width: 1024px) and (max-height: 768px){

}