.container_home{
    background-image: url(../images/plano_fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho a, button{
    text-decoration: none;
    color: var(--cor_texto);
    font-family: var(--fonte_titulos);
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho button{
    display: flex;
    gap: 10px;
    align-items: center;
}

.cabecalho a:hover,button:hover{
    color: var(--cor_linhas);
}

.triangulo{
    width: 0; 
    height: 0; 
}

.triangulo_baixo{
    width: 0; 
    height: 0; 
}

.div_contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
}

.saudacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.saudacoes p{
    font-weight: 400;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
}

.saudacoes span{
    color: var(--cor_linhas);
}


.links_redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links_redes_sociais img{
    cursor: pointer;
}

.div_redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_redes_sociais p {
    font-weight: 300;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
}


@media (max-width: 1920px) and (max-height: 1080px){
    .container_home{
        width: 100%;
        height: 99vh;
    }

    .cabecalho{
        height: 20%;
    }

    .cabecalho nav{
        width: 60%;
    }

    .cabecalho img{
        margin-left: 2%;
        width: 8%;
        height: 70%;
    }

    .cabecalho a, button{
        font-size: 2.3em;
    }

    .div_contatos {
        height: 10%;
        gap: 30px;
        font-size: 1.5em;
    }

    .div_contatos img{
        width: 3%;
        height: 42%;
    }

    .triangulo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--cor_texto);
    }

    .triangulo_baixo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--cor_texto);
    }

    .saudacoes{
        height: 40%;
    }

    .saudacoes p{
        font-size: 3em;
    }

    .links_redes_sociais{
        height: 29%;
    }

    .div_redes_sociais{
        width: 25%;
        gap: 2%;
    }

    .div_redes_sociais p{
        font-size: 2em;
    }
    
    .div_redes_sociais img{
        width: 21%;
        height: 100%;
    }
}