.container_home{
    width: 100%;
    height: 99vh;
    background-image: url(../images/plano_fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.cabeçalho img{
    margin-left: 2%;
    width: 10%;
    height: 80%;
}

.saudacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.saudacoes p{
    font-weight: 200;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
}

.saudacoes span{
    color: var(--cor_linhas);
}


.links_redes_sociais{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 29%;
}

.links_redes_sociais img{
    width: 5%;
    height: 30%;
    cursor: pointer;
}