.container_home{
    background-image: url(../images/plano_fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cabecalho nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.cabecalho a{
    text-decoration: none;
    color: var(--cor_texto);
    font-family: var(--fonte_titulos);
    font-weight: 200;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link_contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho a:hover{
    color: var(--cor_linhas);
}

.triangulo{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--cor_linhas);
}

.triangulo_baixo{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--cor_texto);
}

.div_contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    animation-name: surgir_cima_baixo;
    animation-duration: 1s;
}

.container_contato{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.saudacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.saudacoes p{
    font-weight: 200;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    text-align: center;
    width: 90%;
}

.saudacoes span{
    color: var(--cor_linhas);
}

.links_redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.links_redes_sociais img{
    cursor: pointer;
}

.div_redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_redes_sociais p {
    font-weight: 100;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    animation-name: surgir_esquerda_direita;
    animation-duration: 1s;
}

