.container_home{
    background-image: url(../images/plano_fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho nav {
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

/* CORREÇÃO: escopo só no cabeçalho (antes vazava para TODOS os buttons da página) */
.cabecalho a,
.cabecalho button{
    text-decoration: none;
    color: var(--cor_texto);
    font-family: var(--fonte_titulos);
    font-weight: 200;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho button{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* CORREÇÃO: escopo do hover só no cabeçalho */
.cabecalho a:hover,
.cabecalho button:hover{
    color: var(--cor_linhas);
}

.div_contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    animation-name: surgir_cima_baixo;
    animation-duration: 1s;
}

.saudacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.saudacoes p{
    font-weight: 200;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    text-align: center;
    width: 90%;
}

.saudacoes span{
    color: var(--cor_linhas);
}

.links_redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    /* RECOMENDADO: evitar left fixo; mantenho aqui apenas se você realmente precisa */
    position: relative;
    left: 30%;
}

.links_redes_sociais img{
    cursor: pointer;
}

.div_redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_redes_sociais p {
    font-weight: 100;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    animation-name: surgir_esquerda_direita;
    animation-duration: 1s;
}


@media (max-width: 1920px) and (max-height: 1080px){
    .cabecalho{
        height: 20%;
    }

    .cabecalho nav{
        width: 60%;
    }

    .cabecalho img{
        margin-left: 6.5%;
        width: 8%;
        height: 70%;
    }

    /* CORREÇÃO: escopo do button no cabeçalho */
    .cabecalho a,
    .cabecalho button{
        font-size: 2.3em;
        color: green;
    }

    .div_contatos {
        height: 10%;
        gap: 30px;
        font-size: 1.5em;
    }

    .div_contatos img{
        width: 2%;
        height: 40%;
    }

    .triangulo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--cor_linhas);
    }

    .triangulo_baixo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--cor_texto);
    }

    .saudacoes{
        height: 35%;
    }

    .saudacoes p{
        font-size: 3em;
    }

    .links_redes_sociais{
        height: 30%;
        width: 50%;
        gap: 30%;
        left: 25%;
    }

    .div_redes_sociais{
        gap: 10%;
        height: 30%;
        width: 25%;
    }

    .div_redes_sociais p{
        font-size: 1.8em;
    }
    
    .div_redes_sociais img{
        width: 35%;
        height: 80%;
    }
}

@media (max-width: 1680px) and (max-height: 1050px){
    .cabecalho{
        height: 20%;
    }

    .cabecalho nav{
        width: 70%;
    }

    .cabecalho img{
        margin-left: 6.5%;
        width: 8%;
        height: 65%;
    }

    /* CORREÇÃO: escopo do button no cabeçalho */
    .cabecalho a,
    .cabecalho button{
        font-size: 1.7em;
        color: blue;
    }

    .div_contatos {
        height: 10%;
        gap: 30px;
        font-size: 1.5em;
    }

    .div_contatos img{
        width: 3%;
        height: 40%;
    }

    .triangulo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--cor_linhas);
    }

    .triangulo_baixo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--cor_texto);
    }

    .saudacoes{
        height: 35%;
    }

    .saudacoes p{
        font-size: 2.5em;
    }

    /* CORREÇÃO: removi duplicatas e deixei um bloco único coerente */
    .links_redes_sociais{
        height: 30%;
        width: 60%;
        gap: 30%;
        left: 20%;
    }

    .div_redes_sociais{
        gap: 10%;
        height: 30%;
        width: 50%;
    }

    .div_redes_sociais p{
        font-size: 1.5em;
    }
    
    .div_redes_sociais img{
        width: 30%;
        height: 80%;
    }
}

/* CORREÇÃO CRÍTICA: max-width/max-height estavam escritos errado e nunca aplicavam */
@media (max-width: 1440px) and (max-height: 900px){
    .cabecalho{
        height: 20%;
    }

    .cabecalho nav{
        width: 60%;
    }

    .cabecalho img{
        margin-left: 6.5%;
        width: 8%;
        height: 70%;
    }

    /* CORREÇÃO: escopo do button no cabeçalho */
    .cabecalho a,
    .cabecalho button{
        font-size: 1.7em;
        color: yellow;
    }

    .div_contatos {
        height: 10%;
        gap: 30px;
        font-size: 1.5em;
    }

    .div_contatos img{
        width: 2%;
        height: 40%;
    }

    .triangulo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--cor_linhas);
    }

    .triangulo_baixo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--cor_texto);
    }

    .saudacoes{
        height: 35%;
    }

    .saudacoes p{
        font-size: 3em;
    }

    .links_redes_sociais{
        height: 30%;
        width: 40%;
        gap: 30%;
    }

    .div_redes_sociais{
        gap: 10%;
        height: 30%;
        width: 30%;
    }

    .div_redes_sociais p{
        font-size: 1.8em;
    }
    
    .div_redes_sociais img{
        width: 35%;
        height: 80%;
    }
}

@media (max-width: 1024px) and (max-height: 768px){

    .cabecalho nav{
        width: 70%;
    }

    .cabecalho img{
        margin-left: 2%;
        width: 15%;
        height: 70%;
    }

    /* CORREÇÃO: escopo do button no cabeçalho */
    .cabecalho a,
    .cabecalho button{
        font-size: 1.7em;
        color: red;
    }

    .triangulo{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--cor_linhas);
    }

    .triangulo_baixo{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--cor_texto);
    }

    .saudacoes p{
        font-size: 2.5em;
    }

    .div_contatos {
        height: 10%;
        gap: 20px;
    }

    .div_contatos img{
        width: 3%;
        height: 40%;
    }

    .links_redes_sociais{
        width: 60%;
        left: 20%;
    }

    .div_redes_sociais p{
        font-size: 1.5em;
    }

    .div_redes_sociais{
        width: 50%;
    }
}
