.container_sobre{
    width: 75%;
    height: 100vh;
}

.header_sobre{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_sobre img{
    width: 10%;
}

.titulo{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--fonte_titulos);
    color: var(--cor_texto);
    gap: 5%;
}

.detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.linhas_esqueda{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}

.linhas_direita{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.quadrado{
    width: 5%;
    height: 17%;
    border: 1px solid var(--cor_linhas);
}

.linha1{
    width: 30%;
    height: 1px;
    background-color: var(--cor_linhas);
}

.linha2{
    width: 70%;
    height: 1px;
    background-color: var(--cor_linhas);
}
.titulo p{
    text-align: center;
}

.conteudo_sobre{
    height: 80%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 33% 20% 47%;
}

.foto_perfil{
    grid-row-start: 1; 
    grid-row-end: 4;
    grid-column: 1;
    width: 95%;
    height: 100%;
}

.comentarios_sobre_mim{
    grid-row: 1;
    grid-column: 2;
}

.focado_em{
    grid-row: 2;
    grid-column: 2;
}

.ferramentas{
    border: 1px solid var(--cor_linhas);
    z-index: 1;
    position: relative;
    display: flex;
    grid-row: 3;
    grid-column: 2;
}

.ferramentas img{
    width: 10%;
}

.focado_em{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.focado_em img{
    width: 30%;
    height: 30%;
}

.container_item_focado_em{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.container_item_focado_em p {
    font-family: var(--fonte_texto);
    color: var(--cor_texto);
    font-weight: 200;
}

.adorno_1, .adorno_2, .adorno_3{
    position: absolute;
}

.adorno_1{
    z-index: 2;
    bottom: 63%;
    right: 81%;
    width: 20%;
    height: 40%;
    border-top: 1px solid var(--cor_texto);
    border-left: 1px solid var(--cor_texto);
}

.adorno_2{
    z-index: 3;
    height: 90%;
    width: 20%;
    left: 81%;
    top: 12%;
    border-right: 1px solid var(--cor_texto);
    border-bottom: 1px solid var(--cor_texto);
}

.adorno_3{
    z-index: 4;
    border-right: 1px solid var(--cor_linhas);
    border-bottom: 1px solid var(--cor_linhas);
    width: 10%;
    height: 30%;
    left: 92%;
    top: 74%;
}