@media (max-width: 480px){

    .container_sobre{
        width: 100%;
    }

    .header_sobre{
        height: 13vh;
        /* border: 2px solid red; */
    }

    .header_sobre h3{
        text-align: left;
    }

    .detalhes{
        width: 25%;
        /* border: 2px solid green; */
    }

    .linha1{
     width: 80%;   
    }

    .linhas_esquerda, .linha_direita, .linha2{
        width: 100%;
    }

    .foto_perfil{
        height: 1500px;
    }

    .conteudo_sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ferramentas div, .ferramentas img, .ferramentas p{
        display: none;
        border: none;
    }

    .adorno_1, .adorno_2, .adorno_3{
        display: none;
    }

    .ferramentas_mobile{
        display: flex;
        width: 90%;
        height: 100vh;
        align-items: center;
    }

    .comentarios_sobre_mim{
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        /* border: 2px solid red; */
    }

    .focado_em{
        text-align: center;
    }

    .container_ferramenta_mobile{
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .container_ferramenta_mobile img{
        width: 30px;
        height: 30px;
    }

    .container_ferramenta_mobile p{
        text-align: center;
    }

    .seta_esquerda{
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
        border: none;
        border-left: 2px solid var(--cor_texto);
        border-bottom: 2px solid var(--cor_texto);
        cursor: pointer;
        background-color: transparent;

    }

    .seta_direita{
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
        border: none;
        border-top: 2px solid var(--cor_texto);
        border-right: 2px solid var(--cor_texto);
        cursor: pointer;
        background-color: transparent;
    }
}