@media (max-width: 480px){
    .lista_cursos_desktop{
        display: none;
    }

    .lista_cursos_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 35vh;
        gap: 20px;
    }

    .container_curso{
        width: 95%;
        display: flex;
        gap: 5px;
        justify-content: space-around;
        align-items: center;
        border: 1px solid var(--cor_linhas);
        border-radius: 5px; 
    }

    .container_curso img{
        width: clamp(70px, 3vw, 100px);
        height: clamp(70px, 3vw, 100px);
    }

    .container_curso p {
        font-size: clamp(1em, 1.5vw, 1.2em);
    }

    #botao_mais_detalhes_curso_mobile{
        border: none;
        border-bottom: 2px solid var(--cor_linhas);
        border-right: 2px solid var(--cor_linhas);
        transform: rotate(43deg);
        background-color: transparent;
        width: clamp(20px, 4vw, 40px);
        height: clamp(20px, 4vw, 40px);
        margin-bottom: clamp(10px, 1vw, 15px);
    }

    .header_sobre{
        height: 13vh;
        /* border: 2px solid red; */
    }

    .container_formacao{
        width: 90%;
    }

    .header_sobre h3{
        text-align: center;
        font-size: clamp(20px, 1vw, 40px);
    }

    .detalhes{
        width: 25%;
    }

    .linha1{
     width: 60%;   
    }

    .linhas_esquerda, .linha_direita, .linha2{
        width: 100%;
    }
}