@media (max-width: 480px){
    .container_home{
        background-attachment: scroll;
        min-height: 100dvh;
    }
    .barra_vertical {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    }   

    .barra_vertical a{
        text-decoration: none;
        color: var(--cor_texto);
        font-family: var(--fonte_titulos);
        font-weight: 200;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .barra_vertical a:hover{
        color: var(--cor_linhas);
    }

    .container_contato{
        gap: clamp(30px, 3vw, 60px);
    }

    .container_home{
        min-height: 100vh;
        height: auto;
    }

    article{
        width: 40%;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 0;
        right: 0;
        background: radial-gradient(circle at 50% 50%,
            rgb(16, 18, 23),
            rgb(12, 24, 37),
            rgb(10, 19, 26),
            rgb(10, 11, 13),
            rgb(11, 12, 14)
            );
        animation: surgir_menu;
        animation-duration: 0.5s;
        animation-iteration-count: initial;
        border-left: 1px solid var(--cor_linhas);
        z-index: 9999;
    }

    article button{
        position: relative;
        bottom: 10%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    article button img{
        width: clamp(40px, 6vw, 80px);
    }

    #overlay_menu{
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.9); /* ou 1.0 se quiser esconder total */
        z-index: 9998;
        display: none;
    }

    #barra_menu_horizontal{
        display: none;
    }

    #botao_menu{
        display: block;
    }

    .cabecalho img{ 
        width: clamp(90px, 17vw, 200px);
    }

    #botao_menu{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #botao_menu img{
        width: clamp(40px, 15vw, 220px);
    }

    .barra_vertical{
        gap: clamp(10px, 10vw, 100px);
    }

    .barra_vertical a{
        font-size: clamp(1.5em, 5vw, 10em);
    }

    .triangulo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--cor_linhas);
    }   

    .triangulo_baixo{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--cor_texto);
    }

    .div_contatos{
        height: 20vh;
        flex-direction: column;
    }

    .div_contatos p{
        font-size: clamp(1.2em, 2vw, 3em);
    }

    .div_contatos img{
        width: clamp(20px, 9vw, 40px);
    }

    .saudacoes p{
        font-size: clamp(1.7em, 1vw, 3.8em);
        color: yellow;
    }

    .div_redes_sociais{
        height: 10vh;
        flex-direction: column;
    }

    .div_redes_sociais p {
        font-size: clamp(1.5em, 1.5vw, 2em);
    }

    .div_redes_sociais img{
        width: clamp(60px, 4vw, 100px);
        height: auto;
    }
}