@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');


:root{
    --botton_amarelo: #eea405;
    --botton_branco: #d0cbcb;
}

body{
    font-size: 16px;
    padding: 10px;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

.intro{
    background-image: url(Design\ sem\ nome\ 11.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.div_nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.img_logo{
    padding-left: 5rem;
    width: 120px;
    height: 120px;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 130px;
}

.icone_menu{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}
.linhas{
    background-color: var(--botton_amarelo);
    border-radius: 5px;
    margin: 3px;
    width: 80px;
    height: 7px;
}

.link_branco{
    font-size: 2.5rem;
    color: var(--botton_branco);
}

.link_amarelo{
    font-size: 2.5rem;
    color: var(--botton_amarelo)
}

.link_amarelo:hover{
    text-decoration: underline;
    transform: scale(1.2);
}

.link_branco:hover{
    text-decoration: underline;
    transform: scale(1.2);
}

.div_boas_vindas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    margin-top: 13%;
}

.div_boas_vindas p{
    font-size: 4em;
    margin: 0;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: var(--botton_branco)
}

.div_boas_vindas b{
    color: var(--botton_amarelo);
    font-weight: 400;
}

.div_boas_vindas .p_web{
    padding-left: 29%;
}

.div_contatos{
    display: flex;
    justify-content: space-evenly;
    gap: 20rem;
}

.div_icones_perfis{
    margin-top: 5%;
    gap: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 1.8rem;
}

a{
    cursor: pointer;
}

.icones{
    width: 100px;
    height: 100px;
}

.sobre_mim{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle,
    #101217 0%,
    #0c1825 25%,
    #0a131a 50%,
    #0a0b0d 75%,
    #0b0c0e 100%
);
}