
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Oswald:wght@200..700&display=swap');

@keyframes selecao{
    from{
        text-decoration: none;
        font-size: 40px;
        color: #eede05;
    }
    to{
        font-size: 45px;
        border-bottom: 2px solid;
        color: rgb(238, 222, 5);
    }

}

@keyframes selecao_sobremim{
    from{
        text-decoration: none;
        font-size: 40px;
        color: #e7e7e7;
    }
    to{
        font-size: 45px;
        border-bottom: 2px solid;
        color:#e7e7e7;
    }

}


body{
    background-image: url(Design\ sem\ nome\ 11.png);
    background-position: absolute;
    background-repeat: no-repeat;
    background-color: #091E31;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    font-size: 40px;
    color: #eede05;
}

a:hover{
    animation: selecao 0.1s forwards;
}

.a_sobremim{
    text-decoration: none;
    font-size: 40px;
    color: #e7e7e7;
}

.a_sobremim:hover{
    animation: selecao_sobremim 0.1s forwards;
}
header{
    margin-top: 2%;
    color: #e7e7e7;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;

}

.img_logo{
    padding-right: 30%;
}

.divtotal_inicio { 
    padding-top: 1%;
    display: flex; 
    justify-content: center;
}

.divtitulo { 
    padding-top: 5%;
}

.linke_git{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 40%;
}

b{
    color: rgb(238, 222, 5);
}

h3{
    font-size: 40px;
    font-family:"Faculty Glyphic";
    color: rgb(238, 222, 5);
    font-weight: 300;
    text-align: center;
}
.para_titulo{
    text-align: right;
    padding-right: 10px;
    font-family: "Faculty Glyphic";
    color: rgb(233, 231, 231);
    font-size: 45px;
    animation:  ponter 2s infinite;
}

.nome_titulo{
    padding-top: 5%;
   color: #e9e7e7;
   font-family: "Faculty Glyphic"; 
   font-size:60px;
}

.nome{
    color: #eede05;
    font-size: 55px;
    font-weight: 200;
}


.h2_ferramentas{
    text-align: right;
    font-weight: 300;
    padding-right: 13%;
}


.div_ferramenta{
    display: flex;
    justify-content: space-around;
}

.grid_ferramentas{
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px;
}

.div_primeira{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.div_segunda{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.div_ferrametas_carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #122E40;
    margin: 20px;
    border: 0.5px solid rgb(238, 222, 5);
    width: 150px;
    height: 150px;
}

.div_mysql,.div_node{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #122E40;
    margin: 20px;
    border: 0.5px solid rgb(238, 222, 5);
    width: 245px;
    height: 150px;
}


.div_formacao{
    display: flex;
    justify-content: space-around;
}

.h2_formacao{
    color: rgb(238, 222, 5); 

}

.sobremim{
    font-size: 40px;
    color: rgb(238, 222, 5); 
    font-weight: 300;
    text-align: center;
}

.div_sobremim{
    display: flex;
    justify-content: space-around;
}

.article_sobremim{
    font-size: 20px;
    color: rgb(238, 222, 5); 
    text-align: justify;
    font-family:"Faculty Glyphic";
}