@media (max-width: 1440px){
    .lista_cursos_mobile{
        display: none;
    }

    .lista_cursos_desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header_sobre{
        height: 13vh;
    }

    .container_formacao{
        width: 90%;
    }

    .header_sobre h3{
        text-align: center;
        font-size: clamp(20px, 1vw, 40px);
    }

    .detalhes{
        width: 25%;
    }

    .linha1{
     width: 60%;   
    }

    .linhas_esquerda, .linha_direita, .linha2{
        width: 80%;
    }

    .header_sobre{
        height: 13vh;
        /* border: 2px solid red; */
    }

    .container_formacao{
        width: 90%;
    }

    .header_sobre h3{
        text-align: center;
        font-size: clamp(20px, 1vw, 40px);
    }

    .detalhes{
        width: 25%;
    }

    .linha1{
     width: 60%;   
    }

    .linhas_esquerda, .linha_direita, .linha2{
        width: 100%;
    }

    .container_curso img{
        width: clamp(100px, 7vw, 170px);
    }

}