.container_home{
    min-height: 100vh;
    height: auto;
}

#botao_menu{
    display: none;
}

.cabecalho img{ 
    width: clamp(80px, 9vw, 220px);
    margin-left: clamp(20px, 4vw, 40px);
}

.cabecalho nav{
    gap: clamp(10px, 5vw, 60px);
    padding-right: clamp(10px, 5vw, 60px);
}

.cabecalho nav a{
    font-size: clamp(1.5em, 1.8vw, 3em);
}

.link_contato{
    gap: clamp(5px, 1vw, 20px)
}

.triangulo{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--cor_linhas);
}   

.triangulo_baixo{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--cor_texto);
}

.div_contatos{
    height: 15vh;
    gap: clamp(20px, 2vw, 30px);
}

.container_contato{
    gap: clamp(20px, 3vw, 40px);
}

.div_contatos p{
    font-size: clamp(1.5em, 1.8vw, 3em);
}

.div_contatos img{
    width: clamp(20px, 15vw, 40px);
}

.saudacoes p{
    font-size: clamp(2em, 2.8vw, 3.8em);
}

.links_redes_sociais{
    margin-top: clamp(60px, 6vw, 200px);
    gap: 20%;
}

.div_redes_sociais{
    gap: min(50%, 10%);
    width: auto;
    height: auto;
    padding: 0.2% 1% 0.2% 1%;
}

.div_redes_sociais p {
    font-size: clamp(1.5em, 2vw, 2em);
}

.div_redes_sociais img{
    width: clamp(70px, 4vw, 100px);
    height: auto;
}